* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {

    font-family: sans-serif;
    font-size: 1rem;
    color: #000000;

}

/* container */
.container {
    max-width: 80%;
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* SearchBox */
.searchBox input {
    margin-right: 2rem;
    padding: 0.5rem 1em;
    border-radius: 10px 10px;
}


.searchBox ul {
    list-style: none;
    overflow: hidden;
    max-width: 86%;
}

.searchBox li {
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #000;

}

.searchBox li:last-child {
    border-bottom: 1px solid #000;
    border-radius: 0 0 10px 10px;

}

.searchBox a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
}

.searchBox a:hover {
    color: #fff;
}

.searchBox li:focus, .searchBox li:hover {
    background: #BDBDBD;
    transform: scale(1.1);
    transition: transform 0.2s ease-out;

}

/* Pokemon Box */
.pokemonBox {
    position: relative;
    flex: 1;

}

.pokemonBox .pokemonOutput {
    padding: 1rem;
    border: 1px solid #000;
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #ebebeb;

}

.pokemonBox img {
    width: 100px;
    margin: 2rem 5px;
}

.pokemonInfos {
    margin-bottom: 2rem;

}

p:first-of-type {
    margin-bottom: 1.5em;
}

p:last-child {
    margin-top: 1rem;
}

.pokemonInfos>p {
    line-height: 1.5em;
    font-size: 12px;
    font-weight: bold;
}

.pokemonInfos span {
    border: 1.5px solid #000;
    padding: 3px 0.5em;
}

/* closeBox */
.closeBox {
    position: absolute;
    top: 8px;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000000;

}

.closeBox:hover {
    font-size: 2rem;
    color: #f60000;
    transition: all 0.2s ease-in-out;
}

/* hiden */
.hide {
    display: none;
}